.vscode
.idea
coverage.out
coverage.html
node_modules
debricked
dist/
/debricked-go-dependencies.txt
/gomod.debricked.lock
/.env
test/resolve/testdata/pip/requirements.txt.venv/
test/resolve/testdata/pip/requirements.txt.pip.debricked.lock
internal/cmd/scan/testdata/npm/yarn.lock
internal/resolution/pm/gradle/.gradle-init-script.debricked.groovy
test/resolve/testdata/npm/yarn.lock
test/resolve/testdata/nuget/csproj/packages.lock.json
test/resolve/testdata/nuget/packagesconfig/packages.config.nuget.debricked.lock
test/resolve/testdata/nuget/**/obj
debricked.fingerprints.wfp
test/resolve/testdata/nuget/csproj/obj/basic.csproj.nuget.g.props
test/resolve/testdata/gomod/gomod.debricked.lock
