.vscode
.idea
coverage.out
coverage.html
node_modules
debricked
dist/
/.debricked-go-dependencies.txt
/.gomod.debricked.lock
/.env
test/resolve/testdata/pip/requirements.txt.venv/
test/resolve/testdata/pip/.requirements.txt.debricked.lock
internal/cmd/scan/testdata/npm/yarn.lock
internal/resolution/pm/gradle/.gradle-init-script.debricked.groovy
internal/callgraph/language/java11/testdata/mvnproj/target
test/resolve/testdata/npm/yarn.lock
test/resolve/testdata/nuget/packages.lock.json
test/resolve/testdata/nuget/obj
.debricked.fingerprints.wfp
/mvnproj/target
