jobs:
- job: debricked_scan
  displayName: Debricked scan
  pool:
    vmImage: 'ubuntu-latest'
  steps:
    - script: |
        curl -L https://github.com/debricked/cli/releases/latest/download/cli_linux_x86_64.tar.gz | tar -xz debricked
        ./debricked scan
      displayName: Debricked scan
      env:
        DEBRICKED_TOKEN: $(DEBRICKED_TOKEN)
