name: Debricked

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  scan:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version: '>=1.21'
      - name: Pull Supported Formats
        run: |
          cd cmd/debricked
          go generate -v -x
      - uses: GuillaumeFalourd/assert-command-line-output@v2.3
        with:
          command_line: go run cmd/debricked/main.go scan -t ${{ secrets.DEBRICKED_TOKEN }} -e "pkg/**" -e "test/**" -e "**/testdata/**"
          contains: AUTOMATION RULE
          expected_result: PASSED
