name: Test

on:
  push:
    branches:
      - main
  pull_request:

jobs:

  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.17

      - name: Build
        run: go build -v ./...

      - name: Vet
        run: go vet ./...

      - name: Test
        run: bash scripts/test.sh
        env:
          DEBRICKED_TOKEN: ${{ secrets.DEBRICKED_TOKEN }}

      - name: Test coverage
        run: bash scripts/check_coverage.sh
        if: always()
        env:
          TEST_COVERAGE_THRESHOLD: 90

      - name: Upload coverage report
        uses: actions/upload-artifact@v3
        if: always()
        with:
          name: coverage.html
          path: coverage.html
          retention-days: 2

      - name: Test - E2E
        run: go run cmd/debricked/main.go scan . -t ${{ secrets.DEBRICKED_TOKEN }}